@using aspnet_login_usuario.Models
@model IEnumerable<UsuarioModel>


@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}


<ul>
    @foreach (var usuario in Model)
    {
        <li>@usuario.Email</li>
    }
</ul>
