@using aspnet_login_usuario.Dto.Usuario
@model UsuarioCriacaoDto

<div asp-validation-summary="All" class="text-danger"></div>


<h1>Cadastro de Usuários</h1>
<div class="container mt-5">
    <form asp-action="Registrar" asp-controller="Home" method="post">
        <div class="mb-3">
            <label class="form-label">Email:</label>
            <input class="form-control" type="email" asp-for="Email" />
        </div>

        <div class="mb-3">
            <label class="form-label">Usuario:</label>
            <input class="form-control" type="text" asp-for="Usuario" />
        </div>

        <div class="mb-3">
            <label class="form-label">Nome:</label>
            <input class="form-control" type="text" asp-for="Nome" />
        </div>

        <div class="mb-3">
            <label class="form-label">Sobrenome:</label>
            <input class="form-control" type="text" asp-for="Sobrenome" />
        </div>

        <div class="mb-3">
            <label class="form-label">Senha:</label>
            <input class="form-control" type="password" asp-for="Senha" />
        </div>

        <div class="mb-3">
            <label class="form-label">Confirmar senha:</label>
            <input class="form-control" type="password" asp-for="ConfirmaSenha" />
        </div>

        <button type="submit" class="btn btn-primary w-100 mb-2">Cadastrar-se</button>
        <a asp-action="Login" asp-controller="Home" class="btn btn-secondary w-100">Voltar</a>
    </form>
</div>
